Repository lem-project/lem, pull requests merged in 2024-01, with the labels that each got.

#1248 Give link-mode a name, so it shows up in DESCRIBE-MODE.
  src/ext/link.lisp
Labels: enhancement, Feature

#1247 Actually enable/disable the auto-save mode.
  src/ext/auto-save.lisp
Labels: bug

#1176 Add region comment support for vi-mode and region commands
  extensions/vi-mode/visual.lisp
  lem.asd
  src/base/basic.lisp
  src/defcommand.lisp
  src/export-generics.lisp
  src/ext/language-mode.lisp
  src/internal-packages.lisp
Labels: vi-mode

#1256 Add command to go to quickdocs using the reference at point
  extensions/lisp-mode/misc-commands.lisp
Labels: Lisp Mode
